	body{
  background-image: url(Images/img4.jpg);
background-repeat: no-repeat;
    background-size:100%;
    
    color: black;
    left: 0;
    overflow: auto;
   
    position: absolute;
    right: 0;
    
    top: 0;
		}
		#menu ul {
    padding:0px;
    margin:-8px;
    background-color:#00D7DB; 
    list-style:none;
    width: 100%;
   height: 160px;
opacity:0.6;
    /*Tira o função do <li>*/
}
#menu ul li { display: inline; /* Deixa o menu na horizontal*/}
#menu ul li a {
    padding: 62px 10px;
    display: inline-block;
    background-color:#00D7DB;
    color: #1A1193;
    text-decoration: none;
    font-size: 25px;
    float:right;
    font-family: arial;
/* visual do link */
}
#menu ul li a:hover {
    background-color:#1A1193;
    color: #ffffff;
    /*border-bottom:3px solid #EA0000;*/
}
#menu ul li h1{
  padding: 0px 40px;
   height: 100px;
  width: 600px;
    background-color:#1A1193;
    color: #ffffff;
    font-size: 80px;
    float:left;
    font-family: Freestyle Script;
}


#home h1{
  font-size:30px;
  font-family: arial;
  color: black;
  opacity: 0.7;
  margin-left: 30px;
}
#rodape ul {
padding:0px;
    margin:-8px;
    background-color:#00D7DB;
    list-style:none;
    width: 100%;
    height: 10px;
opacity:0.7;
color: #1A1193;
font-size: 30px;
}
#rodape ul li{
  padding: 38px 10px;
  text-align: center;
}
table{
  text-align: center;
  margin-left: 550px;
  font-size: 30px;
  font-family: Microsoft Sans Serif;
}
table input{
  font-family: Microsoft Sans Serif;
  font-size: 30px;  
  width: 100%;
}
p{
  float: center;
}